<a href="https://colab.research.google.com/github/Najpraphatsarang/cos3302/blob/main/Create_dataframe_from_reading_differnt_formats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Create dataframe from reading differnt formats

In [1]:
#import libraries
import pandas as pd

#Mount my Gdirve

In [2]:
from google.colab import drive
ROOT = "/content/GDrive"
drive.mount(ROOT)

Mounted at /content/GDrive

#Excel format

##Read Excel file

In [3]:
excel_path = "/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.XLSX"
df = pd.read_excel(excel_path)
print(df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

##Read excel by considering first row as data

In [4]:
columns = ['courses','course_fee','course_duration','course_discount']
df2 = pd.read_excel(excel_path, header=0, names = columns)
df2

  courses  course_fee course_duration  course_discount
0   Spark       25000         50 Days             2000
1  Pandas       20000         35 Days             1000
2    Java       15000             NaN              800
3  Python       15000         30 Days              500
4     PHP       18000         30 Days              800

##Read excel by setting column as index

In [5]:
df2 = pd.read_excel("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.XLSX", index_col=0)
print(df2)

            Fee Duration   Discount
Courses
Spark     25000   50 Days       2000
Pandas    20000   35 Days       1000
Java      15000       NaN        800
Python    15000   30 Days        500
PHP       18000   30 Days        800

## Read specific excel sheet

In [6]:
df = pd.read_excel("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.XLSX", sheet_name='Sheet1')
print(df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

## Read Multiple sheets

In [7]:
# Read Multiple sheets
dict_df = pd.read_excel("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.XLSX",
sheet_name=['Sheet1','Sheet2'])

# Get DataFrame from Dict
course_df = dict_df .get('Sheet1')
course_updated_df = dict_df.get('Sheet2')
# Print DataFrame's
print(course_df)
print(course_updated_df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800
  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000   30 Days        700
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

## Read excel by skipping columns

In [8]:
df2 = pd.read_excel("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.XLSX", usecols=[0,2])
print(df2)

  Courses  Duration
0    Spark   50 Days
1   Pandas   35 Days
2     Java       NaN
3   Python   30 Days
4      PHP   30 Days

## Skip columns by range

In [9]:
df2 = pd.read_excel("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.XLSX",

usecols='B:D')

print(df2)

     Fee Duration   Discount
0  25000   50 Days       2000
1  20000   35 Days       1000
2  15000       NaN        800
3  15000   30 Days        500
4  18000   30 Days        800

## Read excel file by skipping rows

In [10]:
df = pd.read_excel("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.XLSX")

print(df)

df2 = pd.read_excel("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.XLSX",
skiprows=2)

print(df2)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800
   Pandas  20000  35 Days  1000
0    Java  15000      NaN   800
1  Python  15000  30 Days   500
2     PHP  18000  30 Days   800

## Using skiprows to skip rows

In [11]:
df2 = pd.read_excel("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.XLSX",

skiprows=[1,3])

print(df2)

  Courses     Fee Duration   Discount
0   Pandas  20000   35 Days       1000
1   Python  15000   30 Days        500
2      PHP  18000   30 Days        800

## Using skiprows with lambda

In [12]:
df2 = pd.read_excel("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.XLSX",
skiprows=lambda x: x in [1,3])

print(df2)

  Courses     Fee Duration   Discount
0   Pandas  20000   35 Days       1000
1   Python  15000   30 Days        500
2      PHP  18000   30 Days        800

#Json format

##Read json from String

In [13]:
json_str = '{"Courses":{"r1":"Spark"},"Fee":{"r1":"25000"},"Duration":{"r1":"50 Days"}}'
df = pd.read_json(json_str)
print(df)

   Courses    Fee Duration
r1   Spark  25000  50 Days

##Read json from String

In [14]:
json_str = '[{"Courses":"Spark","Fee":"25000","Duration":"50 Days","Discount":"2000"}]'
df = pd.read_json(json_str, orient='records')
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000

In [15]:
df = pd.read_json("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses_data.json")
print(df)

  Courses    Fee Duration
0   Spark  25000  50 Days
1  Pandas  20000  35 Days
2    Java  15000

##Read JSON file with records orient

In [16]:
# Read JSON file with records orient
df = pd.read_json("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.json", orient='records')
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000                800

#CSV format (exercise)

In [36]:
df = pd.read_csv("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.csv")
df

    Spark  25000  50 Days  2000
0  Pandas  20000  35 Days  1000
1    Java  15000      NaN   800
2  Python  15000  30 Days   500
3     PHP  18000  30 Days   800

In [37]:
columnsname = ['Courses','Fee','Duration','Discount']
df = pd.read_csv("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.csv", names=columnsname)
df

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000      NaN       800
3  Python  15000  30 Days       500
4     PHP  18000  30 Days       800

In [38]:
columnsname = ['Courses','Fee','Duration','Discount']
cols = ['Courses','Fee','Discount']
df = pd.read_csv("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.csv", names=columnsname, usecols=cols)
df

  Courses    Fee  Discount
0   Spark  25000      2000
1  Pandas  20000      1000
2    Java  15000       800
3  Python  15000       500
4     PHP  18000       800

In [39]:
columnsname = ['Courses','Fee','Duration','Discount']
df = pd.read_csv("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.csv", names=columnsname)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Courses   5 non-null      object
 1   Fee       5 non-null      int64
 2   Duration  4 non-null      object
 3   Discount  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

In [40]:
df_clean = df.dropna()
df_clean

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
3  Python  15000  30 Days       500
4     PHP  18000  30 Days       800

In [41]:
df_clean.head(2)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000

In [42]:
df_clean.tail(3)

  Courses    Fee Duration  Discount
1  Pandas  20000  35 Days      1000
3  Python  15000  30 Days       500
4     PHP  18000  30 Days       800

In [43]:
df_clean.sort_values(by = 'Discount', ascending = False)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
4     PHP  18000  30 Days       800
3  Python  15000  30 Days       500

In [44]:
df = pd.read_csv("/content/GDrive/MyDrive/cos3302/cos3302_dada_files/courses.csv", sep=';')
df

    Spark,25000,50 Days,2000
0  Pandas,20000,35 Days,1000
1            Java,15000,,800
2   Python,15000,30 Days,500
3      PHP,18000,30 Days,800

In [45]:
df.to_csv("cos3302_courses")